[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/github.com/josephspurrier/goversioninfo"]
	path = src/github.com/josephspurrier/goversioninfo
	url = https://github.com/josephspurrier/goversioninfo
[submodule "src/github.com/akavel/rsrc"]
	path = src/github.com/akavel/rsrc
	url = https://github.com/akavel/rsrc
[submodule "src/github.com/cloudfoundry-incubator/candiedyaml"]
	path = src/github.com/cloudfoundry-incubator/candiedyaml
	url = https://github.com/cloudfoundry-incubator/candiedyaml.git
